<form class="col-md-3 mx-2">
  <input type="search" (ngModelChange)="searchProducts(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search products..." required>
</form>

<div class="container">
  <div *ngFor="let e of products" class="col-xs-6 col-md-6 bootstrap snippets bootdeys">
    <!-- product -->
    <div class="product-content product-wrap clearfix">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-image">
            <img src="{{e.imageUrl}}" alt="194x228" class="img-responsive">
          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="product-deatil">
            <h5 class="name">
              <a href="#">
                {{e.productName}} <span>{{e.category.categoryName}}</span>
              </a>
            </h5>
            <p class="price-container">
              <span>${{e.price}}</span>
            </p>
            <span class="tag1"></span>
          </div>
          <div class="description">
            <p>{{e.productDescription}} <br>Remaining: {{e.quantity}}</p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a (click)="addToCart(e.productId)" class="btn btn-success">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->
  </div>
</div>

