<div class="container px-3 my-5 clearfix" id="main-container">
  <!-- Shopping cart table -->
  <div class="card">
    <div class="card-header">
      <h2>Shopping Cart</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered m-0">
          <thead>
          <tr>
            <!-- Set columns width -->
            <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
            <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
            <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
            <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
            <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a class="shop-tooltip float-none text-light"
                                                                                   data-original-title="Clear cart"
                                                                                   href="#"
                                                                                   title=""><i
              class="ino ion-md-trash"></i></a></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of items">
            <td class="p-4">
              <div class="media align-items-center">
                <img alt="" class="d-block ui-w-40 ui-bordered mr-4" src="{{item.product.imageUrl}}">
                <div class="media-body">
                  <a class="d-block text-dark" href="#">{{item.product.productName}}</a>
                  <small>
                    <span class="text-muted">Description: </span> {{item.product.productDescription}}
                  </small>
                </div>
              </div>
            </td>
            <td class="text-right font-weight-semibold align-middle p-4">${{item.product.price}}</td>
            <td class="align-middle p-4"><input #key (change)="updateItem(item.itemId, key.value)" [(ngModel)]="item.quantity"
                                                class="form-control text-center" name="key" type="text"></td>
            <td class="text-right font-weight-semibold align-middle p-4">${{item.itemTotal}}</td>
            <td class="text-center align-middle px-0"><a (click)="deleteItem(item)"
                                                         class="shop-tooltip close float-none text-danger" data-original-title="Remove"
                                                         title="">×</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- / Shopping cart table -->
      <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">

        <div class="d-flex">
          <div class="text-right mt-4">
            <label class="text-muted font-weight-normal m-0">Total price</label>
            <div class="text-large"><strong><p id="totalField"></p></strong></div>
          </div>
        </div>
      </div>

      <div class="float-right">
        <button class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" routerLink="/product/product-list" type="button">
          Back to shopping
        </button>
        <button class="btn btn-lg btn-primary mt-2" type="button">Checkout</button>
      </div>

    </div>
  </div>
</div>
