
body {
  margin-top: 20px;
  background: #eee;
}

.navbar {
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 600;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: #707070;
  color: white;
  color: wheat;
}
